article.repair
  .repair__cont.cont
    picture.repair__picture-bg
      source(srcset=`${pathImg}repair/repair-bg_285.webp 1x, ${pathImg}repair/repair-bg_570.webp 2x` type='image/webp' media="(max-width: 1240px)")
      source(srcset=`${pathImg}repair/repair-bg.webp` type='image/webp')
      source(srcset=`${pathImg}repair/repair-bg_285.png 1x, ${pathImg}repair/repair-bg_570.png 2x` media="(max-width: 1240px)")
      img.repair__image-bg(src=`${pathImg}repair/repair-bg.png` alt='' loading='lazy')
    picture.repair__picture
      source(srcset=`${pathImg}repair/repair-1_290.webp 1x ${pathImg}repair/repair-1_580.webp 2x, ` type='image/webp' media="(max-width: 320px)")
      source(srcset=`${pathImg}repair/repair-1_330.webp` type='image/webp' media="(max-width: 520px)")
      source(srcset=`${pathImg}repair/repair-1_400.webp` type='image/webp' media="(max-width: 1240px)")
      source(srcset=`${pathImg}repair/repair-1.webp` type='image/webp')
      source(srcset=`${pathImg}repair/repair-1_290.jpg 1x, ${pathImg}repair/repair-1_580.jpg 2x` media="(max-width: 320px)")
      source(srcset=`${pathImg}repair/repair-1_330.jpg` media="(max-width: 520px)")
      source(srcset=`${pathImg}repair/repair-1_400.jpg` media="(max-width: 1240px)")
      img.repair__image(src=`${pathImg}repair/repair-1.jpg` alt='' loading='lazy')
    .repair__inner
      h2.repair__title.title Товары «Мастер Крепёж» - помощники в капитальном и текущем ремонте
      p.repair__text.text-big.
        Любой ремонт, косметический или капитальный, держится на крепеже. Большинство строительных работ,
        особенно покрасочных или штукатурных, нельзя провести без средств индивидуальной защиты - масок или
        респираторов.
      p.repair__text.text-big.
        Эти товары востребованы независимо от сезона, поэтому построить бизнес на их основе — одновременно
        проверенная и перспективная идея. Сеть магазинов «Мастер Крепёж» работает в этом направлении и
        продаёт оптом и в розницу крепёжные элементы, а также инструменты и СИЗ.

