.start
  .start__cont.cont
    .start__area
      h2.start__title.title Научим разбираться в товарах для ремонта и управлять персоналом торговой точки
      p.start__text.text-big.
        Для начала работы под брендом «Мастер Крепёж» вам не нужны знания о
        строительстве и ремонте, а также опыт в бухгалтерии или торговле — мы
        всему научим и вас, и ваших сотрудников
      p.start__text.start__text-bold.text-big Приехать в Нижний Новгород обязательно, но начать обучение мы можем онлайн
    picture.start__picture-1
      source(srcset=`${pathImg}start/start-1_290.webp 1x, ${pathImg}start/start-1_580.webp 2x` type='image/webp' media="(max-width: 1240px)")
      source(srcset=`${pathImg}start/start-1.webp` type='image/webp')
      source(srcset=`${pathImg}start/start-1_290.jpg 1x, ${pathImg}start/start-1_580.jpg 2x` media="(max-width: 1240px)")
      img.start__image-1(src=`${pathImg}start/start-1.jpg` alt='' loading='lazy')
    picture.start__picture-2
      source(srcset=`${pathImg}start/start-2_285.webp 1x, ${pathImg}start/start-2_570.webp 2x` type='image/webp' media="(max-width: 1240px)")
      source(srcset=`${pathImg}start/start-2.webp` type='image/webp')
      source(srcset=`${pathImg}start/start-2_285.png 1x, ${pathImg}start/start-2_570.png 2x` media="(max-width: 1240px)")
      img.start__image-2(src=`${pathImg}start/start-2.png` alt='' loading='lazy')
